* {
  color: rgb(43, 205, 226);
  margin: 0px
}

.App {
  /* background-color: #282c34; */
  background-image: linear-gradient(#22577a, #282c34);
  text-align: center;
}

.notFound {
  margin: 100px;
  padding: 30px;
  font-size: 2em;
  font-weight: bold;
}

li{
  padding: 5px;
  list-style: none
}
