.identidade {
  display: flex;
  /* border: 1px rgb(56, 61, 80) solid; */
  justify-content: center;
  align-items: center;
}

.nome {
  display: flex;
  padding: 50px;
}

.boxAtributos{
  display: flex;
  /* border: 1px rgb(56, 61, 80) solid; */
  align-self: center;
  width: 460px;
}

.boxElementos{
  /* border: 1px rgb(56, 61, 80) solid; */
  width: 460px;
}

.boxRadio{
  /* border: 1px rgb(56, 61, 80) solid; */
  height: 70px;
}

.elementos{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
